* {
    box-sizing: content-box;
}

body {
    margin: 50px;
    font-size: 17px;
}

p {
    color: #09aa09;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: justify;
    text-shadow: 1px 3px 4px rgba(161, 167, 248, 0.667);
    /* line-height: 40px;             Ajustando a altura entre as linhas */
    /* letter-spacing: 5px;           Espaçamento entre letras */
    /* word-spacing: 20px;            Espaçamento entre palavras */
    /* text-transform: uppercase; */
}

a {
    text-decoration: none;      /* Retira decorações (sublinhado, sobrenhado, etc...)*/
}

a:hover {
    text-decoration: line-through;
}