* {
    box-sizing: content-box;
}

body {
    margin: 50px;
    font-size: 17px;
}

h1 {
    font-family: "Caveat", serif;
}

h2 {
    color: #09aa09;
    font-size: 15px;
    font-family: "Playwrite VN", serif;
    text-align: justify;
}